#container {
    display: inline-grid;
    /*grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(16, 50px);*/
    gap: 1px;
    background-color: #efeff0;
    padding: 10px;
    min-width: 0;
}
#container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
  }
